html, body {
    height: 100%;
    margin: 0;
}

#main{
    width: 100%;
    height: 100%;
    background-color: lightblue;
}

#topbar{
    width: 100%;
    height: 15%;
    background-color: black;
}

#kryesor{
    width: 100%;
    height: 88%;
    background-color: black;
}

#bgPic{
    width: 90%;
    height: 100%;
    opacity: 30%;
}

#logo{
    margin-left: 45%;
    margin-top: -1%;
    width: 8%;
    height: 130%;
    opacity: 100%;
}